.logon_can {width: 100%;text-align: center;}
.home_logo {display:block;height: 100px;margin: 50px auto;}
.home_can {width: 300px;margin:0px auto;}
.home_img{width: 320px;display: block;margin:10px 0px;}
.footer {width: 320px;text-align: center;margin:10px auto;font-size: 12px;}
.footer-item {margin: 12px;}
.logo-qrcode {width: 200px;height: 200px;margin: 0px auto;}