<div class="about">
    <div class="home_top">
        <div class="home_line_banner" style="">
            <!--<a href="/"><img class="home_logo" src="/images/logo/limujiang.png"/></a>-->
            <div class="home_slogan">
                <div class="home_slogan_main"><!--换个角度看自己-->关于我们</div>
                <div class="home_slogan_sub">
                   <!-- 程序员自己的健康品牌-->
                </div>
            </div>
        </div>
    </div>
    <div class="about_layout">
        <img  style="width: 100%;margin: 0px auto;" src="http://7wy48o.com1.z0.glb.clouddn.com/关于我们.png"/>
<!--
        <p>
            狸木匠是两个程序员创建的，我们两个都是从事IT 7、8年的老兵了。在编程行业这么久，一是因为热爱，二是热爱这个行业的人。程序员是相对不那么复杂的一群人，每天对着电脑，非0即1，大脑单线程。也不喜欢拐弯抹角，大家一起逗逗闷子，自嘲一下或者互嘲一下，还是非常带感的。
        </p>
        <p>但是这个过程中，请允许我说但是，大家的身体是每况愈下，我们拿身体换取了金钱，但金钱却弥补不了我们身体的疼痛。腰酸背痛那是经常事，就在我的身边的兄弟，有的病，有的伤，甚至有的已经离开了人世。长时间的工作，不注意锻炼，不注意健康，让我们自以为杠杠的身体，却渐渐的变糠。</p>
        <p>去年开始我们两个人开始接触木头，自己玩一玩，业余也自己做些东西。这个过程中，身心愉悦，身体好了很多，因为喜欢，也更源于一种匠心精神。于是我们决定做一个程序员的健康品牌，用木头来做一些辅助工具，希望能改善程序员的办公环境，最主要的是改善健康环境，帮助大家，其实也是帮助我们自己。欢迎大家加入狸木匠！</p>

        <p class="about_name">Kai & Nolan  2015</p>-->
        <p></p>
        [狸木匠]公众号近期文章：
        <p><a href="http://mp.weixin.qq.com/s?__biz=MzAxMTYwNTQxNQ==&mid=205699735&idx=1&sn=ebc146b2ba47e67e1d5adbdfc56fc962#rd">匠心</a></p>
        <p><a href="http://mp.weixin.qq.com/s?__biz=MzAxMTYwNTQxNQ==&mid=206191629&idx=1&sn=fce4e607b5832f77ced5db48caedbed7#rd">榫卯结构(GIF)</a></p>
        <p><a href="http://mp.weixin.qq.com/s?__biz=MzAxMTYwNTQxNQ==&mid=401326925&idx=1&sn=5f50c1230157403ff67176ceecd714ff#rd">编程之外，8种方式</a></p>
        <p><a href="http://mp.weixin.qq.com/s?__biz=MzAxMTYwNTQxNQ==&mid=401242059&idx=1&sn=59fc5f3cff300d564728d258bec771f4#rd">2年来站立办公的体会</a></p>
        <p><a href="http://mp.weixin.qq.com/s?__biz=MzAxMTYwNTQxNQ==&mid=401261283&idx=2&sn=6592b7ff26ee95f394da8b803060367b#rd">八大利器，彰显程序猿Ｂ格范</a></p>
        <% include footer.ejs %>
    </div>
</div>


