<div class="about">
    <div class="home_top">
        <div class="home_line_banner" style="">
            <a href="/"><img class="home_logo" src="/images/logo/limujiang.png"/></a>
            <div class="home_slogan">
                <div class="home_slogan_main">关于我们</div>

            </div>
        </div>
    </div>
    <div class="about_layout">
        <p style="line-height: 24px;">
            <span style="color: rgb(243, 39, 12);font-size: 22px;margin-right: 12px;font-weight: bold;">狸木匠</span>由两位程序员创立，我们坚持认为，要做一款实用的木工产品，就要从身边实际需求抓起，所以狸木匠的产品从外观的设计、结构的组装、便捷的携带、不同人群的调校设置都进行了精心的打造。希望利用我们的产品，让您了解、关注及改善您自身的健康。
        </p>

        <p>
            <img src="/images/pub/qrcode.jpg" style="width:100%;max-width:500px;display:block;margin: 0px auto;">
        </p>
        <p>
            <img src="/images/pub/unit-1800.jpg" style="width:100%;max-width:500px;display:block;margin: 0px auto;">
        </p>
        [狸木匠]公众号近期文章：
        <p><a href="http://mp.weixin.qq.com/s?__biz=MzAxMTYwNTQxNQ==&mid=502074736&idx=1&sn=2b16a851a0369a66a9990cbb4a56e791#rd">立即购买☛站式办公桌【Li-Desk】</a></p>
        <p><a href="http://mp.weixin.qq.com/s?__biz=MzAxMTYwNTQxNQ==&mid=206191629&idx=1&sn=fce4e607b5832f77ced5db48caedbed7#rd">榫卯结构(GIF)</a></p>
        <p><a href="http://mp.weixin.qq.com/s?__biz=MzAxMTYwNTQxNQ==&mid=401326925&idx=1&sn=5f50c1230157403ff67176ceecd714ff#rd">编程之外，8种方式</a></p>
        <p><a href="http://mp.weixin.qq.com/s?__biz=MzAxMTYwNTQxNQ==&mid=401242059&idx=1&sn=59fc5f3cff300d564728d258bec771f4#rd">2年来站立办公的体会</a></p>
        <p><a href="http://mp.weixin.qq.com/s?__biz=MzAxMTYwNTQxNQ==&mid=401261283&idx=2&sn=6592b7ff26ee95f394da8b803060367b#rd">八大利器，彰显程序猿Ｂ格范</a></p>
        <% include footer.ejs %>
    </div>
</div>


