<div class="home_body">
    <div class="home_center">
        <div class="home_top">
            <div class="home_line_banner" style="">
                <img class="home_logo" src="/images/logo/limujiang.png"/>
                <div class="home_slogan"><div class="home_slogan_main">换个角度看自己</div>
                    <div class="home_slogan_sub">程序员自己的健康品牌</div></div>
            </div>
        </div>
        <div class="home_line_layout_man">
            <div class="home_line_layout">
                <div class="home_line">
                    <div class="item_tip">
                        <a href="https://weidian.com/item.html?itemID=1940962995&wfr=c" target="_blank">
                        <img src="/images/home/IMG_0065x600.png" class="home_desk">
                            </a>
                        <h2>Li-Desk</h2>
                        站立式办公，不一样的编程体验
                    </div>
                </div>
            </div>
            <div class="home_line_layout">
                <div class="home_line">
                    <div class="item_tip">
                        <a href="https://weidian.com/item.html?itemID=1951387964" target="_blank">
                            <img src="/images/home/li_pillow_touming.png" class="home_desk">
                        </a>
                        <h2>Li-Pillow</h2>
                        纯实木颈椎枕
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home_code_container">
        <img class="home_qrcode" src="/images/pub/qrcode_430.jpg">
        <div class="home_qrcode_sub">关注微信，进入店铺</div>
        <div class="home_qrcode_sub" style="margin-top: 30px;"><a href="/show" style="color: #f76b58;">买家秀</a></div>
    </div>
    <% include footer.ejs %>
</div>


