
<img class="home_logo" src="/images/logo/limujiang.png"/>
<div class="home_can">
    <img class="home_img" src="/images/home/home_1.jpg"/>
    <img class="home_img" src="/images/home/home_2.jpg"/>
    <img class="home_img" src="/images/home/home_3.jpg"/>
    <img class="home_img logo-qrcode" src="/images/pub/qrcode_430.jpg"/>
</div>

