<div class="about users">
    <div class="home_top">
        <div class="home_line_banner" style="">
            <a href="/"><img class="home_logo" src="/images/logo/limujiang.png"/></a>
        </div>
    </div>
    <div class="about_layout" style="width: 100%;max-width:600px;">
        <div style="float: left;font-size: 18px;line-height: 24px;margin-bottom: 18px;">
            欢迎用户发送使用照片到邮箱:andy@coollist.cn,或者在微信公众号直接回复照片给我们 :)
        </div>
        <div class="users_item" style="background-image: url('/images/users/li-c2@600.jpg');"></div>
        <div class="users_item" style="background-image: url('/images/users/li-c@600.jpg');"></div>
        <div class="users_item users_item_400" style="background-image: url('/images/users/li-h@600.jpg');"></div>
        <div class="users_item users_item_400" style="background-image: url('/images/users/li-l@600.jpg');"></div>
        <div class="users_item users_item_400" style="background-image: url('/images/users/li_7@600.jpeg');"></div>
        <div class="users_item users_item_400" style="background-image: url('/images/users/li_8@600.jpeg');"></div>
        <div class="users_item users_item_400" style="background-image: url('/images/users/li-6@600.jpg');"></div>
        <div class="users_item users_item_400" style="background-image: url('/images/users/li-z@600.jpg?x=2');"></div>
        <div class="users_item" style="background-image: url('/images/users/li-hy.jpg');"></div>
        <% include footer.ejs %>
    </div>
</div>


